In [3]:
import math
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [7]:
df=pd.read_csv("C:\\Users\\sonik\\Downloads\\py-master\\py-master\\ML\\2_linear_reg_multivariate\\Exercise\\hiring.csv")
df

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         NaN                7   72000
7     eleven         7.0                8   80000

In [1]:

from word2number import w2n

ModuleNotFoundError: No module named 'word2number'

In [5]:
score_mean=math.floor(df.test_score.mean())
score_mean

7

In [8]:
# Define a function to convert string representations to numeric values
def convert_to_numeric(value):
    return {
        'NaN':0,
        'one': 1,
        'two': 2,
        'three': 3,
        'four': 4,
        'five': 5,
        'six': 6,
        'seven': 7,
        'eight': 8,
        'nine': 9,
        'ten': 10,
        'eleven':11
    }.get(value.lower(), None)  # Use dictionary.get() to handle default case (None)

# Apply the function to the column with string representations
df['experience'] = df['experience'].apply(convert_to_numeric)

print(df)

AttributeError: 'float' object has no attribute 'lower'

In [19]:
df.test_score=df.test_score.fillna(score_mean)
df

   experience  test_score  interview_score  salary
0           5         8.0                9   50000
1           5         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         7.0                7   72000
7          11         7.0                8   80000

In [20]:
reg=linear_model.LinearRegression()
reg.fit(df[['experience','test_score','interview_score']],df.salary)

LinearRegression()

In [22]:
reg.predict([[5.0,8.0,9]])

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([63690.15945506])

In [14]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [15]:
reg.intercept_

221323.00186540384